### Step 0
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [20]:
import pandas as pd
import numpy as np

In [21]:
## .iloc[8:,2:] : Name of columns are row 9; the date starts at the 17th row; so we remove the first 8.
# the country column can be found twice plus a null column; we remove the first 2 cols.
## .reset_index().iloc[:,1:] : The index after the first step starts at 8 so reset it and remove the previous index column
energy=pd.read_excel('./data/Energy Indicators.xls',nrows=235,header=[9],index_col=None).iloc[8:,2:].reset_index().iloc[:,1:]

# We Change the column names
energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

# We change petajoules to gigajoules
energy['Energy Supply']=energy['Energy Supply'].apply(lambda x: x*(10**6))

#Since all cols (except for countries) hold numeric values thus any non numeric value should be null this is done using regex
energy.iloc[:,1:]=energy.iloc[:,1:].replace(regex=r'\D',value=np.nan)

# Rename the following list of countries (for use in later questions):
# "Republic of Korea": "South Korea",
# "United States of America": "United States",
# "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
# "China, Hong Kong Special Administrative Region": "Hong Kong"
values=["South Korea","United States","United Kingdom","Hong Kong"]
to_replaces=[
    "Republic of Korea"
    ,"United States of America"
    ,"United Kingdom of Great Britain and Northern Ireland"
    ,"China, Hong Kong Special Administrative Region"]

In [22]:
#Testing line 17 to 26 BEFORE
print(energy[energy['Country'].isin(values)])

# Investigate unclean country names (contains nums or paranthesis) BEFORE
unclean_bol=energy['Country'].str.extract(r'(\d|\()').fillna(0)!=0
unclean_ser=energy[unclean_bol.iloc[:,0]]['Country']
print(unclean_ser)

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per Capita, % Renewable]
Index: []
11                                            Australia1
24                      Bolivia (Plurinational State of)
42                                                China2
43       China, Hong Kong Special Administrative Region3
44           China, Macao Special Administrative Region4
58                                              Denmark5
70                           Falkland Islands (Malvinas)
73                                               France6
83                                            Greenland7
97                                            Indonesia8
98                            Iran (Islamic Republic of)
103                                               Italy9
105                                              Japan10
111                                             Kuwait11
133                     Micronesia (Federated States of)
143                                        Netherlands12
161                                           Portugal13
177                                       Saudi Arabia14
179                                             Serbia15
183                            Sint Maarten (Dutch part)
190                                              Spain16
197                                        Switzerland17
212                                            Ukraine18
214    United Kingdom of Great Britain and Northern I...
216                           United States of America20
221                   Venezuela (Bolivarian Republic of)
Name: Country, dtype: object

In [23]:
# Function to remove trailing unwanted chars
def clean_country(text):
    ret_str=''
    for ind in range(len(text)):
        if text[ind] == '(' or text[ind].isdigit():
            if ret_str[-1]==' ':
                ret_str=ret_str[:-1]
            break
        ret_str=ret_str+text[ind]
    return ret_str

In [24]:
# Cleaning the countries names by applying the clean_country function to each entry
energy['Country']=energy['Country'].apply(clean_country)

# Here we apply the updates
energy['Country']=energy['Country'].replace(to_replace=to_replaces,value=values )   

energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.21e+08,10,78.6693
1,Albania,1.02e+08,35,100
2,Algeria,1.959e+09,51,0.55101
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9e+06,121,88.6957
...,...,...,...,...
222,Viet Nam,2.554e+09,28,45.3215
223,Wallis and Futuna Islands,0,26,0
224,Yemen,3.44e+08,13,0
225,Zambia,4e+08,26,99.7147
226,Zimbabwe,4.8e+08,32,52.5361

In [25]:
#Testing line 17 to 26 AFTER
print(energy[energy['Country'].isin(values)])

# Investigate unclean country names (contains nums or paranthesis) AFTER
unclean_bol=energy['Country'].str.extract(r'(\d|\()').fillna(0)!=0
unclean_ser=energy[unclean_bol.iloc[:,0]]['Country']
print(unclean_ser)

            Country Energy Supply Energy Supply per Capita % Renewable
43        Hong Kong      5.85e+08                       82           0
164     South Korea    1.1007e+10                      221     2.27935
214  United Kingdom      7.92e+09                      124     10.6005
216   United States    9.0838e+10                      286      11.571
Series([], Name: Country, dtype: object)

### Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [26]:
# Reading the file into GDP dataframe
GDP=pd.read_csv('./data/world_bank.csv',header=[4])

# Change column name from 'Country Name' to 'Country'
GDP.columns=GDP.columns[1:].insert(0,'Country')

#changes to be made to country names
to_replaces=["Korea, Rep.","Iran, Islamic Rep.","Hong Kong SAR, China"]
values=["South Korea","Iran","Hong Kong"]

#Investigating country names before updating them
GDP[GDP['Country'].isin(values)]

Empty DataFrame
Columns: [Country, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Index: []

[0 rows x 60 columns]

In [27]:
# Here we apply the updates
GDP['Country']=GDP['Country'].replace(to_replace=to_replaces,value=values ) 

#Investigating country names after updating them
GDP[GDP['Country'].isin(values)]

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
93,Hong Kong,HKG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,1.764691e+10,...,2.019164e+11,2.149698e+11,2.195440e+11,2.141452e+11,2.286377e+11,2.396459e+11,2.437206e+11,2.512081e+11,2.577757e+11,2.638606e+11
109,Iran,IRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.500820e+10,6.072406e+10,6.552689e+10,7.014134e+10,7.608598e+10,8.904776e+10,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
123,South Korea,KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,2.964966e+10,3.247578e+10,3.493136e+10,3.674434e+10,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12

### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [28]:
# Reading the file into ScimEn dataframe
ScimEn=pd.read_excel('./data/scimagojr-3.xlsx')
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [29]:
# A list of year columns needed; to be used during merging process
year_list=[str(i) for i in range(2006,2016)]

# Merging 'ScimEn' and 'energy' together and assigning it to Result dataset
Result = pd.merge(ScimEn.sort_values(by='Rank')
                ,energy
                ,on='Country'
                ,how='inner')

# Merging the temp Result and 'GDP' together and updating result dataset
Result = pd.merge(Result
                 ,GDP[['Country']+year_list]
                 ,on='Country'
                 ,how='inner')

# Sorting the Result dataset based on the rank and setting the 'Country' column as the index
Result.sort_values(by='Rank',inplace=True)
Result.set_index(keys='Country',inplace=True)

# Checking the dimensions of the Result dataset
print("Result dimensions: "+str(Result.shape))

# Getting the top 15 countries
Result_top_15=Result.iloc[:15,:]

# Checking the dimensions of the Result_top_15 dataset
print("Result_top_15 dimensions: "+str(Result_top_15.shape))

# Checking the results
Result_top_15

Result dimensions: (162, 20)
Result_top_15 dimensions: (15, 20)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.27191e+11,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.0838e+10,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.8984e+10,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.92e+09,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.0709e+10,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.0431e+10,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.3261e+10,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.3195e+10,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.0597e+10,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.1007e+10,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.53e+09,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923e+09,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172e+09,119,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386e+09,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.2149e+10,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [30]:
Result.shape[0] - Result_top_15.shape[0]

147

### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [31]:
avgGDP=Result_top_15.iloc[:,10:].mean(axis=1).sort_values(ascending=False)
avgGDP

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [32]:
Result_top_15['Energy Supply per Capita'].mean()

157.6

### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [33]:
# Get the '% Renawble' Series
tmp_series=Result_top_15['% Renewable']

# Find the maximum '% Renawble'
max_renewable=Result_top_15['% Renewable'].max()

# Find the country that has the maximum '% Renawble'
tmp_series[ tmp_series== max_renewable ].index[0]

'Brazil'

### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [34]:
# Adding the new col to the dataset
Result_top_15=\
Result_top_15.assign(Self_Citations_Ratio=\
                        lambda x: Result_top_15.loc[:,'Self-citations']/Result_top_15.loc[:,'Citations'])

# Getting the max ratio
tmp_series=Result_top_15['Self_Citations_Ratio']
max_ratio = tmp_series.max()
print('Maximum Self_Citations_Ratio: '+str(max_ratio) )

# Getting the county with this max ratio 
tmp_series[ tmp_series== max_ratio ].index[0]

Maximum Self_Citations_Ratio: 0.6893126179389422

'China'

### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [35]:
# Get the '% Renawble' Series
tmp_series=Result_top_15['% Renewable']

# Find the median of '% Renawble'
median_renewable=Result_top_15['% Renewable'].median()
print('The median of %Renewable is: '+str(median_renewable))

# Adding the new col to the dataset
# Multiplying by one here to turn the True to 1 and the False to 0
Result_top_15=\
Result_top_15.assign(HighRenew=\
                        lambda x: (tmp_series >= median_renewable)*1)
Result_top_15

The median of %Renewable is: 17.02028

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2008,2009,2010,2011,2012,2013,2014,2015,Self_Citations_Ratio,HighRenew
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.27191e+11,93,19.7549,...,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1
United States,2,96661,94747,792274,265436,8.20,230,9.0838e+10,286,11.571,...,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0
Japan,3,30504,30287,223024,61554,7.31,134,1.8984e+10,149,10.2328,...,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.92e+09,124,10.6005,...,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.0709e+10,214,17.2887,...,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,1
Canada,6,17899,17620,215003,40930,12.01,149,1.0431e+10,296,61.9454,...,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,1
Germany,7,17027,16831,140566,27426,8.26,126,1.3261e+10,165,17.9015,...,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,0.195111,1
India,8,15005,14841,128763,37209,8.58,115,3.3195e+10,26,14.9691,...,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0.288973,0
France,9,13153,12973,130632,28601,9.93,114,1.0597e+10,166,17.0203,...,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,1
South Korea,10,11983,11923,114675,22595,9.57,104,1.1007e+10,221,2.27935,...,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0.197035,0
Italy,11,10964,10794,111850,26661,10.20,106,6.53e+09,109,33.6672,...,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,0.238364,1
Spain,12,9428,9330,123336,23964,13.08,115,4.923e+09,106,37.9686,...,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,0.194299,1
Iran,13,8896,8819,57470,19125,6.46,72,9.172e+09,119,5.70772,...,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,0.332782,0
Australia,14,8831,8725,90765,15606,10.28,107,5.386e+09,231,11.8108,...,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,0
Brazil,15,8668,8596,60702,14396,7.00,86,1.2149e+10,59,69.648,...,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,1

### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [36]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
continent_df=pd.DataFrame(data=list(zip(ContinentDict.keys(),ContinentDict.values())),columns=['Country','Continent'])

# Merging 'continent_df' and 'Result_top_15' together and assigning it to 'Result_top_15' dataset
Result_top_15 = pd.merge(continent_df
                ,Result_top_15
                ,on='Country'
                ,how='left')

In [37]:
# Per year view
Result_top_15_slice=Result_top_15[['Continent']+[str(i) for i in range(2006,2016)]].set_index(keys='Continent')
Result_group = Result_top_15_slice.groupby( by='Continent').agg([np.sum, np.mean, max, len])
Result_group

                       2006                                           2007  \
                        sum          mean           max  len           sum
Continent
Asia           1.208534e+13  2.417068e+12  5.496542e+12  5.0  1.296844e+13
Australia      1.021939e+12  1.021939e+12  1.021939e+12  1.0  1.060340e+12
Europe         1.336315e+13  2.227191e+12  3.332891e+12  6.0  1.380003e+13
North America  1.635677e+13  8.178386e+12  1.479230e+13  2.0  1.665214e+13
South America  1.845080e+12  1.845080e+12  1.845080e+12  1.0  1.957118e+12

                                                        2008                \
                       mean           max  len           sum          mean
Continent
Asia           2.593688e+12  5.617036e+12  5.0  1.343416e+13  2.686833e+12
Australia      1.060340e+12  1.060340e+12  1.0  1.099644e+12  1.099644e+12
Europe         2.300005e+12  3.441561e+12  6.0  1.390275e+13  2.317125e+12
North America  8.326068e+12  1.505540e+13  2.0  1.662420e+13  8.312102e+12
South America  1.957118e+12  1.957118e+12  1.0  2.056809e+12  2.056809e+12

               ...          2013               2014                \
               ...           max  len           sum          mean
Continent      ...
Asia           ...  7.672448e+12  5.0  1.777186e+13  3.554373e+12
Australia      ...  1.241484e+12  1.0  1.272520e+12  1.272520e+12
Europe         ...  3.567317e+12  6.0  1.404784e+13  2.341307e+12
North America  ...  1.577367e+13  2.0  1.793010e+13  8.965052e+12
South America  ...  2.409740e+12  1.0  2.412231e+12  2.412231e+12

                                          2015                              \
                        max  len           sum          mean           max
Continent
Asia           8.230121e+12  5.0  1.810135e+13  4.525337e+12  8.797999e+12
Australia      1.272520e+12  1.0  1.301251e+12  1.301251e+12  1.301251e+12
Europe         3.624386e+12  6.0  1.419836e+13  2.366393e+12  3.685556e+12
North America  1.615662e+13  2.0  1.834118e+13  9.170591e+12  1.654857e+13
South America  2.412231e+12  1.0  2.319423e+12  2.319423e+12  2.319423e+12


               len
Continent
Asia           5.0
Australia      1.0
Europe         6.0
North America  2.0
South America  1.0

[5 rows x 40 columns]

In [38]:
# Aggregated view
Result_top_15_slice_agg=Result_top_15_slice.sum(axis=1).to_frame('Population from 2006 till 2015')
Result_group_agg = Result_top_15_slice_agg.groupby( by='Continent').agg([np.sum, np.mean, max, len])
Result_group_agg

              Population from 2006 till 2015
                                         sum          mean           max  len
Continent
Asia                            1.516657e+14  3.033314e+13  6.348609e+13  5.0
Australia                       1.164043e+13  1.164043e+13  1.164043e+13  1.0
Europe                          1.376637e+14  2.294395e+13  3.493025e+13  6.0
North America                   1.702499e+14  8.512496e+13  1.536434e+14  2.0
South America                   2.189794e+13  2.189794e+13  2.189794e+13  1.0